# Chave secreta para o Django
SECRET_KEY=your-secret-key-here

# Configuração do Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True

# Configuração do banco de dados PostgreSQL
DB_NAME=varzea_pro
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
